{% extends 'base.html' %}

{% block title %}Change password{% endblock %}

{% block breadcrumb %}
  <div class="col s12">
        <a href="{% url 'home' %}" class="breadcrumb">Boards</a>
        <a href="{% url 'password_change' %}" class="breadcrumb">Change password</a>
    </div>
{% endblock %}

{% block content %}
  <div class="container">
      <form method="post" novalidate>
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <button type="submit" class="btn btn-success">Change password</button>
      </form>
  </div>

{% endblock %}